<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <style>
        body {
            background-color: #1a1a1a;
            color: #f0a500;
            font-family: 'Arial', sans-serif;
        }
        .header {
            font-size: 2em;
            margin-bottom: 20px;
        }
        .form {
            margin-bottom: 20px;
        }
        .textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            background-color: #333;
            color: #f0a500;
            border: none;
            border-radius: 5px;
        }
        .button {
            background-color: #f0a500;
            color: #1a1a1a;
            border: none;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1em;
        }
        .button:hover {
            background-color: #ffba26;
        }
    </style>
</head>

<body>
    <h1 class="header">Edit</h1>
    <form method="POST" action="/comments/<%=comment.id%>?_method=PATCH" class="form">
        <textarea name="comment" cols="30" rows="10" class="textarea"><%= comment.comment %></textarea>
        <button class="button">Save</button>
    </form>
</body>

</html>
